main{    
    display: flex;
    width: 400px;
    margin: 40px auto 0 auto;

}
.first{
    display: flex;
    background-color: #c69897;
    align-items: stretch;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}
.second{

    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    
}
.child1{
    display: flex;
    background-color: #faab8c;
    height: 50px;
    order: 2;
    justify-content: center;
    align-items: center;
}

.child2{
    background-color: #48464b;
    height: 50px;
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child3{
    height: 50px;
    background-color: #fcdd9e;
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
