@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
    p{
        background-color: yellow;
        border-width: 5px thick;
        margin-left: 20px;
        padding: 0px;
        
    }
    .p1{
       border: dashed red;
       width: 300px;
       
    
    }
    .p2{
        border: solid green;
        display: none;
        width: 400px;
        
     
     }
     .p3{
        border: dashed red;
        width: 200px;
        visibility: hidden;
     
     }
     .flex{
         display: flex;
         flex-wrap: nowrap;

     }
     h1{
         width: 960px;
         margin-left: auto;
         margin-right: auto;
         text-align: center;
         padding-top: 50px;
         padding-bottom: 50px;
         margin-top: 50px;
         margin-bottom: 50px;
         background-color: rgb(241, 211, 38);
         color: paleturquoise;
         -webkit-box-shadow: -34px 29px 18px 2px #64FF8B; 
        box-shadow: -34px 29px 18px 2px #64FF8B;
        border: 5px dashed #1C6EA4;
        border-radius: 22px 7px 0px 37px;
        font-family: 'Dancing Script', cursive;

     }
     
